body{
    padding-left: 50px;
}

h1{
    margin-bottom: 30px;
}

form input[type=text]{
    width: 150px;
}

label{
    display: inline-block;
    margin-bottom: 10px;
    width: 100px;
}

select{
    width: 150px;
}

.form-wrapper{
    width: 400px;
}