<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new secret</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="../static/css/form.css" th:href="@{../css/form.css}" />
</head>
<body>
	<div><h1>Add a new secret</h1></div>
    <div class="form-wrapper">
        <form class="form-control" id="secret-form" onsubmit="processForm(event)">
            <label for="secret">Name: </label>
            <input type="text" name="secret" id="secret"><br>
            <input class="btn btn-success" type="submit" value="Add">
        </form>
        <div class="image-picker">
            <input type="file" name="image" id="image" accept="image/png, image/jpeg">
        </div>
    </div>
    <script type="text/javascript" th:src="@{/scripts/variables.js}"></script>
    <script type = "text/javascript" th:src="@{/scripts/addsecret.js}"></script>
</body>