<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new secret</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div><h1>Add a new secret</h1></div>
    <div>
        <form id="secret-form" onsubmit="processForm(event, 'secrets', 'secret-form')">
            <label for="secret">Name: </label>
            <input type="text" name="secret" id="secret">
            <input type="submit" value="Add">
        </form>
        <!-- <form id="location-form" onsubmit="processForm(event, 'locations', 'location-form')">
            <label for="location">Location: </label>
            <input type="text" name="location" id="location">
            <input type="submit" value="Add">
        </form> -->
    </div>
    <!-- <script src="../static/scripts/locationlist.js"></script> -->
    <script type="text/javascript" th:src="@{/scripts/addentity.js}"></script>
</body>