<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new secret</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="../static/css/form.css" th:href="@{css/form.css}" />
</head>
<body>
	<div><h1>Add a new Tool</h1></div>
    <div id="error-msg"></div>
    <div class="form-wrapper">
        <form class="form-control" id="tooltype-form" onsubmit="processForm(event, 'tooltypes', 'tooltype-form')">
            <label for="toolType">Tooltype: </label>
            <input type="text" name="toolType" id="toolType"><br>
            <input class="btn btn-success" type="submit" value="Add">
        </form>
    </div>
    <script type="text/javascript" th:src="@{/scripts/variables.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/addentity.js}"></script>
</body>