<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new secret</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div><h1>Add a new Tool</h1></div>
    <div>
        <form id="tool-form" onsubmit="processForm(event, 'tools', 'tool-form')">
            <label for="tool">Tool: </label>
            <input type="text" name="tool" id="tool"><br>
            <label for="tooltypeId">Tooltype: </label>
            <select name="tooltypeId" id="tooltypeId"></select><br>
            <input type="submit" value="Add">
        </form>
        <!-- <form id="location-form" onsubmit="processForm(event, 'locations', 'location-form')">
            <label for="location">Location: </label>
            <input type="text" name="location" id="location">
            <input type="submit" value="Add">
        </form> -->
    </div>
    <!-- <script src="../static/scripts/locationlist.js"></script> -->
    <script type="text/javascript" th:src="@{/scripts/addentity.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/addtool.js}"></script>
</body>