<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modify Secret</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="../static/css/form.css" th:href="@{../css/form.css}" />
</head>
<body>
	<div><h1>Modify Secret</h1></div>
    <div class="form-wrapper">
        <form class="form-control" id="secret-modification" onsubmit="processForm(event)">
            <label for="secret">Name: </label>
            <input type="text" name="secret" id="secret"><br>
            <label for="locationId">Location: </label>
            <select name="locationId" id="locationId"></select><br>
            <label for="toolId">Tool: </label>
            <select name="toolId" id="toolId"></select><br>
            <input class="btn btn-success" type="submit" value="Add">
        </form>
    </div>
    <!-- <script src="../static/scripts/locationlist.js"></script> -->
    <script type="text/javascript" th:src="@{/scripts/modifysecret.js}"></script>
</body>