<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Secrets by location</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="../static/css/secretsbylocation.css" th:href="@{../css/secretsbylocation.css}" />
</head>
<body>
	<h1>Secrets By Location</h1>
    <span style="display: none;"><span sec:authentication="principal.authorities" id="role"></span></span>
    <p><a class="button btn btn-warning" href="/locationlist">Back to Locations</a></p>
    <p><a class="button btn btn-primary" id="add-secret" href="/addsecret">Add new secret</a></p>
    <div id="error-msg"></div>
    <div class="secrets">
        <table class="table table-striped">
            <thead class="table-dark">
                <th class="secret">Secret</th>
                <th>Cleared</th>
                <th>Tool</th>
                <th></th>
                <th></th>
                <th></th>
                <th sec:authorize="hasAuthority('ADMIN')"></th>
            </thead>
            <tbody id="secret-table">

            </tbody>
        </table>
    </div>
   
    <script type="text/javascript" th:src="@{/scripts/variables.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/secretsbylocation.js}"></script>
</body>