<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Secrets by location</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Secrets By Location</h1>
    <p><a href="/locationlist">Back to Locations</a></p>
    <p><a id="add-secret" href="/addsecret">Add new secret</a></p>
    <div id="error-msg"></div>
    <div>
        <table>
            <thead>
                <th>Secret</th>
                <th>Cleared</th>
                <th>Tool</th>
                <th></th>
                <th></th>
            </thead>
            <tbody id="secret-table">

            </tbody>
        </table>
    </div>
   

    <script type="text/javascript" th:src="@{/scripts/secretsbylocation.js}"></script>
</body>