<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new location</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="../static/css/showsecret.css" th:href="@{../css/showsecret.css}" />
    <!-- <link type="text/css" rel="stylesheet" href="../static/css/form.css" th:href="@{css/form.css}" /> -->
</head>
<body>
	<h1>Hello World!</h1>
    <a id="link-to-secrets" class="btn btn-primary" href="">Back to Secrets</a>
    <img src="" alt="secret" id="secret-image" />

    <script type="text/javascript" th:src="@{/scripts/variables.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/showsecret.js}"></script>
</body>